// File: _editCat.sass

@import '../../../styles/_variables';

.chat
    .popup
        background-color: rgba(52, 73, 94, .8)//rgba(0, 51, 102, 0.9)
        width: 100vw
        height: 100vh
        position: absolute
        // visibility: hidden
        z-index: 12

        .center
            border: 2px solid #fff
            display: flex
            flex-direction:	column
            border-radius: 5px
            width: 380px
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            padding: 5px

            h4
              letter-spacing: 2px
              margin: 4px auto 4px auto
            
            .h4, div h4
                font-family: Roboto
                font-style: normal
                font-weight: normal
                font-size: 25px
            
            .nameInput
                margin: auto
                width: 340px
                height: 30px

                background: #FFFFFF
                border-radius: 8px
            
            form
              display: flex
              justify-content: space-around
              margin-top: 8px

            .buttons
                display: flex
                margin: 10px 0 4px 0

                h4
                    cursor: pointer

                .go
                    // pass

                .cancel
                    // pass


