# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules

# testing
/coverage

# production
/build
/client/build

# misc
.env
/server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
/.vscode
__pycache__

/temp
/client/temp
/server/temp

/server/uploads

client/public/oldIcons
