# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/server/node_modules
/server/dist

# testing
/coverage

# production
/build
/client/build

# misc
.env
/server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
/.vscode
__pycache__

/server/uploads
/server/profile_pictures

client/public/oldIcons
