// File: sign-up.scss

@import '../tools/normalizer';
@import '../helpers/base';
@import '../helpers/variables';

body {
    div {
        display: grid;
        grid-row-gap: 1.4px;
        grid-column-gap: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -70%);
        color: #cfd9e4;
        /* margin-top: auto;
        margin-bottom: auto; */

        h2 {
            grid-area: 1 / 1;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
            margin-top: 2px;
            padding-top: 4px;
        }

        input {
            resize: none;
            height: 25px;
        }

        button {
            grid-area: 4 / 3;
            margin-left: 8px;
            width: 25px;
            height: 4vh;
            color: #2e4153;
        }

        .username {
            grid-area: 2 / 1;
        }
        
        .password00 {
            grid-area: 3 / 1;
        }
        
        .password01 {
            grid-area: 4 / 1;
        }
        
        .e-name {
            grid-area: 2 / 2;
        }
        
        .pass0 {
            grid-area: 3 / 2;
        }
        
        .pass1 {
            grid-area: 4 / 2;
        }
    }
}
