// File: sign-up.scss

@import '../../styles/_variables'
@import '../../styles/go-button'

.sign-up
    display: grid
    grid-column-gap: 3px
    grid-row-gap: 4px

    // min-width: 400px

    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    h2
      font-size: 16px
      width: 155px

    .label
      margin-top: 6px

    input
        resize: none
        height: 25px

    .signUpTitle
        font-size: 20px
        grid-area: 1 / 1
        margin-bottom: 10px
        text-transform: uppercase

    .usernameLabel
        grid-area: 2 / 1

    .passwordLabel0
        grid-area: 3 / 1

    .passwordLabel1
        grid-area: 4 / 1

    .e-name
        grid-area: 2 / 2

    .pass0
        grid-area: 3 / 2

    .pass1
        grid-area: 4 / 2

    .go-button
      grid-area: 4 / 3
      font-size: 0.8rem
      height: 25px

    .go-back-button
      grid-area: 5 / 2
      color: #000
      background-color: #f4f4f4
      text-decoration: none

      margin-top: 10px
      padding: 5px 10px 5px 0px
      width: 200px

      text-align: center
      transition: .2s
      
      &:hover,
      &:active
        color: lighten($fg-color, 5%)

@media screen and (max-width: 500px)
  .sign-up
    .label
      margin-top: 5px

    .signUpTitle
      grid-area: 1 / 1

    .usernameLabel
      grid-area: 2 / 1

    .e-name
      grid-area: 3 / 1

    .passwordLabel0
      grid-area: 4 / 1

    .pass0
      grid-area: 5 / 1

    .passwordLabel1
      grid-area: 6 / 1

    .pass1
      grid-area: 7 / 1

    .go-button
      grid-area: 8 / 1
      margin: 0
      margin-top: 5px
      // font-size: 1.1rem
      padding: 5px 0 5px 0

    .go-back-button
      grid-area: 9 / 1
      margin-top: 100px
