// File: _chat.scss
@import '../../styles/_variables'

// File: _chat.scss
@import '../../styles/_variables'

svg
    cursor: pointer

.chat
    background-color: $bg-color//#161f27
    // background-color: #11171D
    // margin: 5px 0px 5px 0px
    // max-height: 800px
    height: -webkit-fill-available
    display: flex
    justify-content: space-between

    a
        color: #cfd9e4
        text-decoration: none

    h1
        // height: 5%
        // padding-left: 10px
        font-size: 22px
        color: white
        // padding-bottom: 10px
    h2
        padding-top: 4px
        padding-left: 10px
        font-size: 15px
        border-bottom: 1px solid #ccc

    .categories,
    .status-bar
      min-width: 200px

    .categories,
    .messages,
    .status-bar
      // height: 100vh
      height: -webkit-fill-available

    .categories,
    .status-bar
      background-color: $bg-color

    .categories
        width: 18vw
        // min-width: 250px
        // min-width: fit-content
        display: flex
        flex-direction: column
        justify-content: space-between

        .top
            overflow: hidden
            overflow-y: scroll
            width: 100%
            
            .topl
              display: flex
              justify-content: space-between
              margin: 15px 0px 0px 10px
              border-bottom: 2px solid darken($fg-color, 50)
              
              .x
                position: relative
                top: -6px
                height: 25px
                color: #fff
                margin-top: 8px
                // margin-top: 15px
                cursor: pointer
                display: none

              .user
                width: 100%
                height: 43px
                margin-left: 5px
                font-size: 1.2em
                // margin: 6px
            .plus
              margin-top: 7px
              margin-left: 6px
              padding: 8px 8px 8px 16px
              background-color: #ecf0f1//#C4C4C4
              color: #2c3e50//lighten(#000000, 40%)
              border-radius: 5px
              font-size: 1.0em
              height: 38px
              letter-spacing: 1.4px
              display: flex
              justify-content: space-between

              b
                position: relative
                top: -4px
                right: 2px
                font-size: 1.5em

              &:hover,
              &:active
                cursor: pointer
                color: #000000
                transition-duration: .2s

            nav ul
                list-style: none
                padding-left: 6px

                .activePlace
                  border-bottom: 3px solid #ecf0f1

                li
                    font: 20px Lato, Arial, Sans-Serif
                    margin-top: .2em
                    height: 30px
                    padding-left: .4em
                    padding-top: 3px
                    padding-bottom: 5px

                    display: flex
                    justify-content: space-between

                    div
                      display: flex
                      // flex-direction: column

                      .speaker
                        height: 22px
                        // margin: 5px 0 3px 0
                        // background-color: green
                        // margin-top: 15px
                      
                      .sharp
                        font-size: 1.2rem
                        // height: 2px
                        margin-left: 4px
                      
                      .name
                        // background-color: red
                        position: relative
                        // transform: translate(-100px, -100px)
                        margin-left: 8px
                        // padding-bottom: 5px

                    .svgs
                      display: flex

                      img
                        opacity: 0
                        width: 25px
                        height: 25px
                        cursor: pointer

                li:hover,
                li:active
                    background-color: #8f9397
                    border-radius: 5px

                    a
                      color: $fg-color

                    svg, img
                      opacity: 1

    .messages
      display: flex
      flex-direction: column
      width: 62vw
        
      background-color: #2e4153

      #top
        flex: 0 1 auto
        display: flex
        justify-content: space-between
        height: 45px //6%
        padding-top: 5px
        margin: 0 auto
        width: 98%

        h1
          padding-top: 3px

        #category
          // pass
        #log_out
          &:hover,
          &:active
            cursor: pointer
            color: darken(white, 15%)


    .status-bar
      width: 19vw
      // min-width: 250px
      overflow: hidden
      overflow-y: scroll

      .top
        display: flex
        justify-content: space-between
        margin-bottom: 5px

        .x
          margin-left: 2px
        
        .x, .logOut
          margin-top: 5px
          display: none

          &:hover,
          &:active
            cursor: pointer

      .titleON
        font-size: 0.7em

      .titleOFF
        font-size: 0.7em
        margin-top: 8px

      .online,
      .offline
        margin-left: 10px
        margin-top: 2px
        display: flex

        div
          height: 15px
          width: 15px
          border-radius: 15px
          border: 2px solid #000
          margin: 3px 10px 0 0px

      .online
        font-size: .8em
        margin
        // color: #4810f6
        div
          background-color: #fff//green

      .offline
        font-size: .8em
        color: #7f8c8d//darken(#fff, 30%)

        div
          background-color: #000

::-webkit-scrollbar
    width: 10px
    background: none
    box-shadow: none

::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #a6a6a6

@media screen and (max-width: 1050px)
  body .messages #input .textInput
    width: calc(98vw - 393px) !important

@media screen and (max-width: 850px)
    body
        .hidden
          display: none !important

        .categories,
        .status-bar
          padding-top: 5px !important
          height: 100vh !important
          width: 260px !important
          
        .categories
          position: absolute
          z-index: 10
          
          .top .topl .x
            display: block !important

        .status-bar
          position: absolute
          right: 0px
          padding-left: 8px
          z-index: 10

          .top
            .x, .logOut
              display: block !important

        .messages
            width: 100% !important

            #top
              margin-top: 2px
              padding-top: 11px
              height: 45px !important

              .panel
                display: block

              #log_out
                display: none

            #chat-screen
              height: calc(100vh - 160px) !important
              width: 100% !important

            #input
                display: flex
                margin: 8px 0 0 4px

                .textInput
                    width: calc(97.8vw - 50px) !important
                    border-radius: 12px
                    
                    textarea
                        width: calc(98vw - 50px) !important
                    
                    .emoji
                        height: 38px !important
                        transform: translate(-5px, 5px) !important
                        // margin-bottom: 10px !important

                .send
                    display: block !important
                    // position: relative
                    margin: 10px 0 0 8px
                    height: 1.6em
                    // top: 12px
                    // left: -15px
                    // z-index: 3
    svg
        cursor: pointer