// File: _chat.scss

@import '../../styles/_variables';

svg
    cursor: pointer

.chat
    background-color: $bg-color//#161f27
    // background-color: #11171D
    // margin: 5px 0px 5px 0px
    // max-height: 800px
    height: -webkit-fill-available
    display: flex
    justify-content: space-between

    a
        color: #cfd9e4
        text-decoration: none

    h1
        // height: 5%
        // padding-left: 10px
        font-size: 22px
        color: white
        // padding-bottom: 10px

    h2
        padding-top: 4px
        padding-left: 10px
        font-size: 15px
        border-bottom: 1px solid #ccc

    .categories,
    .status-bar
      min-width: 200px

    .categories,
    .messages,
    .status-bar
      // height: 100vh
      height: -webkit-fill-available

    .categories,
    .status-bar
      background-color: $bg-color

    .categories
        width: 18vw
        // min-width: 250px
        // min-width: fit-content
        display: flex
        flex-direction: column
        justify-content: space-between

        .top
            overflow: hidden
            overflow-y: scroll
            width: 100%
            
            .topl
              display: flex
              justify-content: space-between
              margin: 15px 0px 0px 10px
              border-bottom: 2px solid darken($fg-color, 50)
              
              .x
                position: relative
                top: -6px
                height: 25px
                color: #fff
                margin-top: 8px
                // margin-top: 15px
                cursor: pointer
                display: none

              .user
                width: 100%
                height: 43px
                margin-left: 5px
                font-size: 1.2em
                // margin: 6px

            .plus
              margin-top: 7px
              margin-left: 6px
              padding: 8px 8px 8px 8px
              background-color: #C4C4C4
              color: lighten(#000000, 40%)
              border-radius: 5px
              font-size: 1.0em
              height: 38px
              letter-spacing: 1.4px
              // text-align: center

              display: flex
              justify-content: space-between

              b
                position: relative
                top: -1px
                font-size: 1.2em
                margin-bottom: -4px

              &:hover,
              &:active
                cursor: pointer
                color: #000000
                transition-duration: .2s

            nav ul
                list-style: none
                padding-left: 6px

                li
                    font: 20px Lato, Arial, Sans-Serif
                    margin-top: .15em
                    padding-left: .4em
                    padding-top: 3px
                    padding-bottom: 3px

                    display: flex
                    justify-content: space-between

                    .svgs
                      display: flex

                      img
                        opacity: 0
                        width: 25px
                        height: 25px
                        cursor: pointer

                li:hover,
                li:active
                    background-color: #8f9397
                    border-radius: 5px

                    a
                      color: $fg-color

                    svg, img
                      opacity: 1

    .messages
      display: flex
      flex-direction: column
      width: 62vw
        
      background-color: #2e4153

      #top
        flex: 0 1 auto
        display: flex
        justify-content: space-between
        height: 45px //6%
        padding-top: 5px
        margin: 0 auto
        width: 98%

        h1
          padding-top: 3px

        #category
          // pass

        #log_out
          &:hover,
          &:active
            cursor: pointer
            color: darken(white, 15%)

      #chat-screen
        flex: 1 1 auto
        margin: 0 auto
        height: calc(100vh - 120px)
        // height: calc(100vh - 120px) // 82%

        width: 98%
        background-color: #283848
        overflow: hidden
        overflow-y: scroll

        .focus
          background-color: lighten($bg-color, 20%)

        .messageDiv
          display: flex
          font-size: 14px
          justify-content: space-between
          height: fit-content
          padding: 2px 0 1px 0
          // height: 600px

          &:hover,
          &:active
            background-color: lighten($bg-color, 20%)

          img
            margin: 10px 10px 14px 8px
            width: 32px
            height: 32px

          .main
            display: flex
            flex-direction: column
            width: calc(100% - 35px)
            height: fit-content

            .top
              display: flex
              justify-content: space-between
              height: 17px
              width: 100%//calc(100% - 45px)
              margin-bottom: 8px
              // margin-right: 12px
              
              .author
                color: darken(#fff, 15%)
                width: fit-content

                span
                  margin-left: 10px
                  width: fit-content
                  color: darken(#fff, 30%)

              .encryption
                padding-right: 6px
          
            .message
              width: calc(100% - 45px)
              height: fit-content
              // vertical-align: top
              // display: inline-block
              
              .fileDiv
                display: flex

                .fileSVG
                  height: 42px
                  margin: 2px 0 0 0

                .name
                  margin-left: 2px
                  margin-top: 20px

            // div, p
            //   width: 100%
            //   word-break: break-word

            a
              cursor: pointer
              width: 100%
              word-break: break-word

      #input
        flex: 0 1 65px
        margin-top: 1%
        width: 100%
        // height: 80px
        // margin: 1%
          
        textarea
          position: absolute
          // float: left
          resize: none !important
          overflow: hidden !important
          height: 62px // 10vh
          width: 60.6vw // 99%
          // min-width: 100px
          margin-left: .7vw
          background-color: #46637f
          border-radius: 3px
          z-index: 1
          color: #cfd9e4

          &::placeholder
            color: #cfd9e4

        .inputForm
          float: right
          z-index: 2
          position: relative

          // display: none
          top: 22px
          width: 130px
          left: -15px
          display: flex
          flex-direction: column
                
        .send
          display: none
          float: right
          position: relative
          top: 22px
          left: -15px
          z-index: 3


    .status-bar
      width: 19vw
      // min-width: 250px
      overflow: hidden
      overflow-y: scroll

      .top
        display: flex
        justify-content: space-between
        margin-bottom: 5px

        .x
          margin-left: 2px
        
        .x, .logOut
          margin-top: 5px
          display: none

          &:hover,
          &:active
            cursor: pointer

      .titleON
        font-size: 0.7em

      .titleOFF
        font-size: 0.7em
        margin-top: 8px

      .online,
      .offline
        margin-left: 10px
        margin-top: 2px
        display: flex

        div
          height: 15px
          width: 15px
          border-radius: 15px
          border: 2px solid #000
          margin: 3px 10px 0 0px

      .online
        font-size: .8em
        margin
        // color: #4810f6
        div
          background-color: #fff//green

      .offline
        font-size: .8em
        color: darken(#fff, 30%)

        div
          background-color: #000

::-webkit-scrollbar
    width: 10px
    background: none
    box-shadow: none

::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #a6a6a6

@media screen and (max-width: 1050px)
  body .messages #input textarea
    width: calc(100% - 410px) !important

@media screen and (max-width: 850px)
    body
        .hidden
          display: none !important

        .categories,
        .status-bar
          padding-top: 5px !important
          height: 100vh !important
          width: 260px !important
          
        .categories
          position: absolute
          z-index: 10
          
          .top .topl .x
            display: block !important

        .status-bar
          position: absolute
          right: 0px
          padding-left: 8px
          z-index: 10

          .top
            .x, .logOut
              display: block !important

        .messages
            width: 100% !important

            #top
              margin-top: 2px
              padding-top: 11px
              height: 45px !important

              .panel
                display: block

              #log_out
                display: none

            #chat-screen
              height: calc(100vh - 160px) !important
              width: 100% !important

            #input
              textarea
                width: 98vw !important
                background-color: #4C6C8A !important
                color: $bg-color !important
                border-radius: 10px !important

                // height: 45px !important

              .inputForm
                display: none !important

              .send
                display: block !important
              // .inputForm
              //   height: 62px
              //   width: 70px !important
              //   position: relative

              //   top: 1px !important
              //   left: -5px !important
              //   // background-color: red

              //   input
              //     // position: absolute
              //     display: none !important
              //     visibility: hidden

              //   .submit
              //     height: 62px
              //     width: 70px

              //     // background: $bg-color
