@import '../../../styles/_variables'

#chat-screen
    flex: 1 1 auto
    margin: 0 auto
    height: calc(100vh - 120px)

    width: 98%
    background-color: #283848
    overflow: hidden
    overflow-y: scroll

    &::-webkit-scrollbar-thumb
        background-color: #bdc3c7

    .focus
        background-color: lighten($bg-color, 20%)
    
    #loadingGif
        height: 40px
        position: relative
        margin-top: 8px
        left: 50%
        transform: translate(-50%, 0)

    .messageDiv
        .message
            display: flex
            font-size: 14px
            justify-content: space-between
            height: fit-content
            padding: 2px 0 1px 0

            &:hover,
            &:active
                background-color: lighten($bg-color, 20%)

                .settings
                    visibility: visible

            img
                margin: 10px 10px 14px 8px
                width: 32px
                height: 32px

            .main
                display: flex
                flex-direction: column
                width: calc(100% - 35px)
                height: fit-content

                .top
                    display: flex
                    justify-content: space-between
                    height: 17px
                    width: 100%//calc(100% - 45px)
                    margin-bottom: 8px
                    
                    .author
                        color: darken(#fff, 15%)
                        width: fit-content

                        span
                            margin-left: 10px
                            width: fit-content
                            color: darken(#fff, 30%)
                    
                    .encryption
                        padding-right: 6px
            
                .message
                    width: calc(100% - 45px)
                    height: fit-content
                    
                    .fileDiv
                        display: flex

                        .imagePreview,
                        .videoPreview
                            width: fit-content
                            height: fit-content

                        .imagePreview
                            max-width: 90%
                            max-height: 400px

                        .videoPreview
                            max-width: 90%
                            max-height: 400px
                            margin-right: 10px

                        .fileSVG
                            height: 42px
                            margin: 2px 0 0 0

                        .name
                            margin-left: 2px
                            margin-top: 20px

                a
                    cursor: pointer
                    width: 100%
                    word-break: break-word
                
            .settings
                // background-color: green
                display: flex
                visibility: hidden
                width: fit-content
                height: 25px
                margin: 0 4px 0 0
                padding: 0 0 26px 0

                position: relative
                border: 1px solid #ecf0f1
                border-radius: 5px
                
                .dots
                    cursor: pointer
                    margin: 0
                    padding: 0

                    font-size: 1.2rem
                    font-weight: bold
                    margin: 0 8px 0 4px
            
            .visible
                visibility: visible

        .emojisDiv
            // display: flex
            position: relative
            left: 50px
            top: -8px

            .hidden
                display: none

            .emojis,
            .reactedBy
                border-radius: 5px
                margin: 0
                width: fit-content
            
            .last-one
                transform: translate(0, -55px)

            .emojis
                display: flex
                background-color: #ecf0f1
                padding: 2px 5px 2px 5px

                .emoji
                    display: flex
                    margin-right: 5px

                    span
                        font-size: 14px

                    .smile
                        //pass

                    .num
                        color: #000
            
            .reactedBy
                position: absolute
                background-color: rgba(0, 0, 0, 90%)
                padding: 4px 7px 4px 7px

                span
                    font-size: 0.7rem
        
        .hidden
            display: none

#input
    flex: 0 1 65px
    margin-top: 1%
    width: 98.5%

    .textInput
        background-color: #46637f
        height: 50px // 10vh
        width: 60.6vw // 99%
        margin-left: .7vw
        border-radius: 3px
        display: flex
        justify-content: space-between

        .fileUpload
            label .fileSVG
                margin: 11px
                z-index: 2
                cursor: pointer

            input
                display: none
        
        textarea
            resize: none !important
            overflow: hidden !important
            height: fit-content
            max-height: 50px // 10vh
            width: calc(60.6vw - 95px) // 99%
            background-color: #46637f
            z-index: 1
            color: #cfd9e4
            margin: auto 20px auto 0
            padding-top: 16px
            padding-bottom: 4px
            border: 0

            &::placeholder
              color: #cfd9e4
        
    .send
        display: none
