// File: login.scss

body {
    display: flex;
    justify-content: space-between;

    a {
        color: #cfd9e4;
        text-decoration: none;
    }

    h1 {
        height: 5%;
        padding-left: 10px;
        font-size: 22px;
        color: white;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
    }

    h2 {
        padding-top: 4px;
        padding-left: 10px;
        font-size: 15px;
        border-bottom: 1px solid #ccc;
    }
    
    div {
        height: 100vh;
        color: #cfd9e4;
    }

    #left {
        width: 18vw;
        background-color: #161f27;
        padding-left: 8px;
        overflow: hidden;
        overflow-y: scroll;

        #user {
            font-size: 1.1em;
        }

        nav ul {
            list-style: none;

            li {
                font-size: 1em;  // font: 14px Lato, Arial, Sans-Serif;

                a:hover,
                a:active {
                    color: white;
                }
            }
        }
    }

    #center {
        width: 62%;
        background-color: #2e4153;
        padding: 1px;

        #top {
            display: flex;
            justify-content: space-between;
            height: 6vh;

            h1 {
                font-size: 1.1em;
                border-bottom: 0px;
            }

            #log_out {
                padding-right: 4px;

                a:hover,
                a:active {
                    // background-color: black;
                    color: white;
                }
            }
        }

        #chat-screen {
            margin: 5px;
            height: 81vh;
            width: 99%;
            background-color: #283848;
            overflow: hidden;
            overflow-y: scroll;

            div {
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                height: fit-content;

                .author {
                    min-width: 13%;
                    margin-left: 4px;
                    vertical-align: top;
                    /* text-align: left; */
                }

                .message {
                    width: 75%;
                    margin-left: 4px;
                    vertical-align: top;
                }

                .date {
                    width: 10%;
                    vertical-align: top;
                    text-align: right;
                }
            }
        }

        .input {
            height: fit-content !important;

            textarea {
                position: absolute;
                float: left;
                resize: none !important;
                overflow: hidden !important;
                height: 11vh;
                width: 61.2vw; /* 99% */
                margin-left: .4vw;
                background-color: #46637f;
                z-index: 1;

                &::placeholder {
                    color: black;
                }
            }

            svg {
                float: right;
                z-index: 2;
                position: relative;
                cursor: pointer;
                margin-right: .4vw;
            }
        }
    }
    
    #right {
        width: 19vw;
        background-color: #161f27;
        overflow: hidden;
        overflow-y: scroll;

        .online {
            font-size: .8em;
            color: #4810f6;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: none;
    box-shadow: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #a6a6a6;
}

@media screen and (max-width: 860px) {
    body {
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {
    body {
        #left {
            display: none !important;
        }
    
        #right {
            display: none !important;
        }
    
        #center {
            width: 100vw;

            .input textarea {
                width: 99vw;
            }
        }
    }
}
