// File: login.scss

@import '../tools/normalizer';
@import '../helpers/base';
@import '../helpers/variables';

body {
    form {
        display: grid;
        grid-template-columns: 90px 200px 30px;
        grid-column-gap: 3px;
        grid-row-gap: 4px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-70%, -70%);
        /* margin-top: auto;
        margin-bottom: auto; */

        a {
            text-decoration: none;
            grid-area: 4 / 2;
        }

        h2 {
            font-size: 20px;
            grid-area: 1 / 1;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 17px;
            grid-column: 1;
        }

        .username {
            grid-row: 2;
            margin-top: 2px;
        }

        .password {
            grid-row: 3;
            margin-top: 4px;
        }

        input {
            // margin-top: 8px;
            resize: none;
            color: black;
            width: 200px;
        }

        button {
            grid-area: 3 / 3;
            margin-left: 8px;
            color: #2e4153;
        }

        .e-name {
            grid-area: 2 / 2;
        }

        .e-pass {
            grid-area: 3 / 2;
        }
    }
}
