// File: _base.scss

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body { height: 100vh; width: 100vw; }

html {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-y: hidden;
}

body {
    background-color: #1c2732;
}
