<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='static/main.css') }}" type="text/css">
        <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        {% block head %}{% endblock %}
    </head>
    <body class={{className}} id="root">
        {% block body %}{% endblock %}
    </body>
</html>
