@import "../../../styles/_variables.sass"

.options
  width: fit-content
  height: fit-content
  position: absolute
  background: #000//#2c3e50 //darken($bg-color, 10%)
  border-radius: 2px

  padding: 0px 0px 0px 0px


  h3
    padding-top: 2px
    margin-left: 8px
    font-weight: 550
    font-size: 0.8em
  
  nav ul
    list-style-type: none
  
    li
      display: flex
      justify-content: space-between
      // width: 100%
      width: 180px
      height: 32px
      padding: 4px 8px 4px 0px
      margin: 6px 6px 4px 6px
      border-radius: 2px

    #delete
      color: lighten(#c0392b, 10%)//darken(red, 10%)

      &:hover,
      &:active 
        background-color: #c0392b
        color: #fff

    #edit
      color: #ecf0f1//#fff

      &:hover,
      &:active 
        background-color: darken(#2980b9, 10%)
        color: #fff

    &:hover,
    &:active
        cursor: pointer


